[Unit]
Description=Node.js Backend API
After=network.target

[Service]
ExecStart=/usr/bin/node {{ nodejs_app_dir }}/app.js
WorkingDirectory={{ nodejs_app_dir }}
Restart=always
Environment=PORT={{ nodejs_port }}
Environment=DB_HOST={{ postgresql_host }}
Environment=DB_PORT={{ postgresql_port }}
Environment=DB_NAME={{ postgresql_db }}
Environment=DB_USER={{ postgresql_user }}
Environment=DB_PASSWORD={{ postgresql_password }} 

[Install]
WantedBy=multi-user.target
